<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Image Search</title>
  </head>
  <body>

	<div class="container">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		  <div class="container-fluid">

		  	<a class="navbar-brand" href="#">Search</a>

		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>

		    <div class="collapse navbar-collapse" id="navbarNavDropdown">

		      <ul class="navbar-nav">
		      	<li class="nav-item dropdown">
		          <a class="btn btn-sm nav-link px-2" aria-current="page" href="startindexinghome">Submit Images</a>
		        </li>

		        <li class="nav-item dropdown">
		          <a class="btn btn-sm nav-link px-2" aria-current="page" href="imagesearchhome">Image Search</a>
		        </li>

		        <li class="nav-item dropdown">
		          <a class="btn btn-sm nav-link px-2" aria-current="page" href="/revimagesearchhome">Reverse Image Search</a>
		        </li>
		      </ul>

		    </div>
		  </div>
		</nav>

	<br>
	<div class="w-50">
		<form class="d-flex" action="imagesearch" method="POST">
	    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="text">
	    <button class="btn btn-outline-secondary" id="submit">Search</button>
		</form>
	</div>


	{% if text %}
		<label style="font-size: 25px; margin-top: 15px;">Images relating to: {{text}}</label>
	{% endif %}

	<div class="row text-center text-lg-left">
		{% if images %}
			{% for img in images %}
				<div class="col-lg-4 col-md-4 col-6">
					<img src="{{img}}" class="img-thumbnail"  alt="..." style="margin-top: 15px;">
				</div>
			{% endfor %}
		{% endif %}
	</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
  </body>
</html>